.card {
  margin-bottom: 50px;
  border-radius: 3px;
  background-color: white;
}
.card--shadow-card {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.card__img img {
  width: 100%;
  border-style: none;
  vertical-align: middle;
}
.card--container {
  padding: 0.01rem 16px;
}
.card__title h3 {
  font-size: 24px;
  margin: 10px 0px;
}
.card__titleDesc h5 {
  font-size: 18px;
  margin: 10px 0px;
}
.card__titleDesc h5 span {
  opacity: 0.6;
}
.card__content p {
  font-size: 15px;
  margin: 15px 0px;
}
.card__button {
  border: 1px solid #ccc !important;
}
.card--badge {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}
.card--padding-large {
  padding: 12px 24px !important;
}

/*# sourceMappingURL=bem.css.map */
