$fontSizeCardTitleMain: 24px;
$fontSizeCardDescMain: 18px;
$fontSizeCardContentMain: 15px;
$fontSizeCardButtonMain: 15px;


.card {//ini block dari bem
    margin-bottom: 50px;
    border-radius: 3px;
    background-color: white;
    &--shadow-card {
        box-shadow: 
        0 4px 10px 0 rgb(0 0 0 / 20%),
        0 4px 20px 0 rgb(0 0 0 / 19%);
    }
    &__img {//element img
        img {
            width: 100%;
            border-style: none;
            vertical-align: middle;
        }
    }
    &--container {
        padding: 0.01rem 16px;
    }
    &__title {
        h3 {
            font-size: $fontSizeCardTitleMain;
            margin: 10px 0px;
        }
    }
    &__titleDesc {
        h5 {
            font-size: $fontSizeCardDescMain;
            margin: 10px 0px;

            span {
                opacity: 0.60;
            }
        }
    }
    &__content {
        p {
            font-size: $fontSizeCardContentMain;
            margin: 15px 0px;
        }
    }
    &__button {
        border: 1px solid #ccc!important;
    }
    &--badge {
        background-color: #000;
        color: #fff;
        display: inline-block;
        padding-left: 8px;
        padding-right: 8px;
        text-align: center;
    }
    &--padding-large {
        padding: 12px 24px!important;
    }
}