.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body{
    background-color:#f1f1f1;
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    font-size: 15px;
    margin:0px;
}

.container{
    margin-top: 3vh;
    margin-left:70px;
    margin-right:70px;
    
}

h1{
    font-size: 36px;
}

.header{
    margin-bottom: 70px;
    text-align: center;
    &__name {
        color:white;
        background:black;
        border: 5px solid black;
    }
}

.content{
    margin-top: 200pz;
    width:100%;
}

.footer{
    margin-top: auto;
    background: #616161;
    button{
        color:white;
        background: black;
        margin: 30px 0px 20px 15px;
        padding: 14px 20px;
        font-size: 16px;
    }
    button:hover{
        cursor:pointer;
        color:#707070;
        background:#bebebe;
    }
    p{
        color:white;
        margin-left:15px;
        margin-bottom:40px;
    }
    .margin{
        margin-left: 0;
    }
}